* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

}


.container {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* border-bottom: 1px solid red; */

}

.header_items ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    list-style: none;
    top: -300px;
    right: 0;
    width: 325px;
    /* transition: 0.3s; */

}



.header_items ul.show {
    top: 60px;
    top: 60px;
    background: #f5f5f5;
    box-shadow: 1px 2px 1px 1px #ccc;
    /* background: #ffffff;
    width: 100%;
    padding: 30px;
    gap: 39px;
    border-bottom: 1px solid gray;

    box-shadow: 0px 1px 6px 1px gray; */
}

ul.show.li {
    padding: 10px;

}

.header_items li a {
    text-decoration: none;
    color: #333333d6;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
}


.booknow_btn {

    display: none;
}




.brand {
    flex: 8;
    display: flex;

    align-items: center;
    gap: 5px;
}


.brand_img {
    max-width: 30%;
    border-radius: 8px;
}

.header_items {
    flex: 5;
}



.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
    margin-bottom: 10%;

}

.home_main {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home_imgblk {
    /* flex: 1; */
    display: flex;
    justify-content: center;

}

.home_img {
    max-width: 75%;
    border-radius: 5%;
    align-items: center;
}


span {
    color: #f5a80c;
}

.home_btn {
    width: 100%;
    padding: 10px;
    color: #f5a80c;
    font-family: sans-serif;
    border: 1px solid #f5a80c;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.home_btn:hover {
    background-color: #f5690c;
    color: white;
}

.home_btn:hover {
    cursor: pointer;
}

.destination_card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;

}


.destination_blk {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}


.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.input_control {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}


.contact_container {
    display: flex;
    justify-content: center;
    background-color: #f5a80c;
    border-radius: 5px;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    padding: 6px;
}


.contact_hd {
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: sans-serif;
}


.view_btn {
    max-width: 35%;
    padding: 10px;
    color: #f5a80c;
    font-family: sans-serif;
    border: 1px solid #f5a80c;
    background-color: white;
    border-radius: 5px;
}

.view_btn:hover {
    background-color: #f5690c;
    color: white;
}

/* .submit_btn{
    padding: 10px;
    background-color: #f5860c;
    color: white;
    border: none;
    border-radius: 2px;
} */


.submit_btn {
    max-width: 35%;
    padding: 10px;
    color: #f5a80c;
    font-family: sans-serif;
    border: 1px solid #f5a80c;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.submit_btn:hover {
    background-color: #f5690c;
    color: white;
}

.about {
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.about_text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon_text {
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;

}


.icon_style {
    color: #f5690c;
    font-size: 10px;
    padding: 5px;
}

.about ul {
    list-style: none;
}

.footer {
    display: flex;
    justify-content: space-around;
    background: #eeeeee;
    color: #f5a80c;
    padding: 20px;
}

.destination_text {
    margin-bottom: 10px;

}

h1 {
    font-size: 25px;
}

.right_sec {
    font-size: 12px;
}

@media (min-width: 769px) and (max-width: 1024px) {



    .menu {
        display: none;
    }

    .header_items ul {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        list-style: none;
        width: auto;
        transition: none;
    }

    .booknow_btn {
        flex: 1;
        text-decoration: none;
        color: white;
        background-color: #f5a80c;
        padding: 8px;
        border-radius: 5px;
        font-family: sans-serif;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
        display: inline-block;

    }

    .booknow_btn:hover{
        cursor: pointer;
        background-color: rgb(255, 81, 0);
    }

   

    .brand {
        flex: 1;
        display: flex;

        align-items: center;
        gap: 5px;
    }

    .container {
        margin-left: 15%;
        margin-right: 15%;
    }

}

@media(min-width:1025px) {

    .menu {
        display: none;
    }

    .header_items ul {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        list-style: none;
        width: auto;
        transition: none;
    }

    .booknow_btn {
        flex: 1;
        text-decoration: none;
        color: white;
        background-color: #f5a80c;
        padding: 8px;
        border-radius: 5px;
        font-family: sans-serif;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
        display: inline-block;

    }
    .brand {
        flex: 1;
        display: flex;

        align-items: center;
        gap: 5px;
    }

    .home {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10%;
        margin-bottom: 10%;

    }

    .home_main {
        flex: 1;
    }

    .home_imgblk {
        flex: 1;
    }

    .home_btn {

        max-width: 35%;
        padding: 10px;
        color: #f5a80c;
        font-family: sans-serif;
        border: 1px solid #f5a80c;
        background-color: white;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 600;
    }

    h1 {
        font-size: 2rem;
    }

    .destination_blk {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .contact_container {
        padding: 60px;
    }

    .contact {
        max-width: 60%;
    }

    .icon_style {


        font-size: 1.2rem;
        padding: 10px;
    }

    .right_sec {
        font-size: 1rem;
    }
}